/*===========================
    00. COMMON css
===========================*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
 body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
        }
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    pointer-events: auto; /* Pastikan pointer bisa berinteraksi dengan input */
}
img {
    max-width: 100%;
}


/*===========================
    09. img css
===========================*/

.img-hero{
    width: 100%;
    height: 600px;
    object-fit: fill;
}

/*===========================
    09. search bar css
===========================*/

.active {
    color: gold !important;
}
.search-bar {
    background-color: #004d40;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}
.search-bar input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.search-bar button {
    background-color: #ffcc00;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.post-card {
    background-color: #004d40;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.post-card .btn {
    background-color: #ffcc00;
    color: #004d40;
}
.post-card .btn:hover {
    background-color: #e6b800;
}