.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

.navbar {
    background-color: #003030;
}

/* about */
.about-section {
    background: #003030;
    text-align: justify;
}

.about-section p {
    color: white;
    margin: 10%;
    margin-right: 15%;
}

/* info */
.energi-info-section {
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
}

.energi-info-section h4 {
    text-align: center;
    margin-bottom: 5%;
    color: #003030;
}

.energi-info-section form {
    margin-left: 15%;
    text-align: left;
    color: #003030;
}

.energi-info-section .btn-primary {
    margin-top: 5%;
    background-color: #003030;
    color: white;
    border: 0;
}

.energi-info-section .btn-primary:hover {
    background-color: #084b4b;
}

/* kontak */
.kontak-info-section {
    background-color: white;
}

.kontak-background {
    width: 100%;
    background-color: #003030;
    text-align: center;
    padding-bottom: 20%;
    padding-top: 5%;
}

.kontak-background h3,
.kontak-background p {
    color: white;
}

.maps-background iframe {
    width: 100vw;
    height: 100vh;
    border: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
    z-index: 0;
}

.card-style {
    border: none;
    width: 80%;
}

.card-container {
    margin-top: -15%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: relative;
}

.card-style .card {
    border-radius: 0;
    border: none;
    text-align: center;
    padding: 0;
}

.card-style .card h6,
.card-style .card p,
.card-style .card i {
    color: #003030;
}

.card-style i {
    margin: 10%;
}

.card-style h6 {
    padding: 10%;
}

.card-style p {
    font-size: small;
}

.z-index {
    z-index: 3 !important;
}